
h1 {
    text-align: center;
    color: blue;
  }
  

  .section {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
  }
  

  #contact {
    border: 2px dashed red;
    padding: 15px;
    margin-top: 30px;
  }
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  

  li {
    display: inline;
    margin-right: 10px;
  }
  

  a:hover {
    color: red;
  }
  

  img {
    display: block;
    margin: auto;
    width: 50%;
  }